*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #666666;
  display: flex;
  width: 100vw;

  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-family: "Indie Flower", cursive;
  padding: 4rem;
}

.task {
  position: relative;
  width: 20%;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.4) 7px 7px 5px 0px;
  transition: all 1s;
}

.task::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, transparent 70%, #0000005e);
}
.task h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.task:nth-child(1),
.task:nth-child(5),
.task:nth-child(7) {
  background-color: #f2f3bf;

  transform: rotate(-6deg);
}
.task:nth-child(2),
.task:nth-child(4),
.task:nth-child(8) {
  background-color: #c2edc3;
  transform: rotate(5deg);
}
.task:nth-child(3),
.task:nth-child(6) {
  background-color: #c6c6f1;
  transform: rotate(-6deg);
}
.task:hover {
  transform: scale(1.3, 1.3);
}
